[submodule "poastal_github"]
	path = poastal_github
	url = https://github.com/jakecreps/poastal.git
[submodule "holehe_github"]
	path = holehe_github
	url = https://github.com/megadose/holehe.git
[submodule "sherlock_github"]
	path = sherlock_github
	url = https://github.com/sherlock-project/sherlock.git
[submodule "Ghunt_github"]
	path = Ghunt_github
	url = https://github.com/mxrch/GHunt
