<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top px-4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ active1 }}" aria-current="page" href="{{ action1 }}">{{ label1 }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ active2 }}" href="{{ action2 }}">{{ label2 }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>